button, label, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #fafafa;
}

button {
    background-color: #282c34;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #26a69a;
}

button:focus {
    background-color: #00695c;
}
#searchbox {
    border: none;
    background-color: #282c34;
    border-radius: 5px;
    padding: 5px 0;
    padding-left: 10px;
    border-color: #999;
    color: #ccc;
    margin-top: 75px;
}

#separator {
    background-color: #333333;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px
}

#description {
    margin-top: 20px
}
