/*
scheme: "Nord"
author: "arcticicestudio"
*/

#entry {
border-radius: 0px;
padding: 5px 2px 5px 2px;
margin: 0px 5px 0px 5px;
color: #aaaaaa;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
color: #fafafa;
background-color: #00695c;
}

#text:selected {
color: #fafafa;
}

#window {
padding: 0;
animation-name: fadeIn;
animation-duration: 0.4s;
background-color: transparent;
font-family: Roboto Condensed;
font-size:15px;
}

#input {
border: none;
background-color: #464d5c;
border-radius: 0px;
margin: 4px 4px 8px 4px;
padding: 8px;
}

#inner-box {
color: #fafafa;
border-radius: 0px;
background-color: #333842;
}

#outer-box {
background-color: #333842;
border-radius: 0px;
border: 1px solid #4db6ac;
padding: 10px;
box-shadow: 0px 0px 3px 1px  #0F0F0F;
}

#scroll {
}

#text {
color: #fafafa;
background-color: transparent;
}

#img {
  background-color: transparent;
}
