/* Reset all styles */

* {
    color: #fafafa;
    border: 0;
    border-radius: 0;
    font-family: ComicMono Nerd Font;
    font-size: 13px;
    font-weight: bold;
   }

window#waybar {
  background: #282c34;
}

#workspaces button {
  padding-right: 22px;
  color: #556677;
}

#workspaces button.focused {
  background-color: #00796b;
  color: #fafafa;
}

#mode {
    color: #ebcb8b;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #445566;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */


#clock {
  background-color: #006064;
  color: #fafafa;
}

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: #80cbc4;
}

#memory {
    color: #ffe082;
}

#network.disabled {
    color:#bf616a;
}

#network{
    color: #c5e1a5;
}

#network.disconnected {
    color: #bf616a;
}

#pulseaudio {
    color: #80deea;
}

#pulseaudio.muted {
    color: #3b4252;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor {
   color: #ebcb8b;
}

#tray {
}

#custom-launcher {
  background-color: #ffffff;
  color: #282c34;
}

#custom-power {
  padding-right: 15px;
  color: #ef9a9a;
}

#window{
    border-style: hidden;
    margin-top:1px;
}

#mode{
    margin-bottom:3px;
}

#custom-keyboard-layout{
   color:#d08770;
}



