#bar {
    font-size: 18px;
    font-family: Iosevka Nerd Font;
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color:#fafafa;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

button:hover {
    background-color: #009688;
}

button:focus {
    background-color: #004d40;
}

grid {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* e.g. for common background to all buttons */
}

